<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fly.frontend.mapper.PostMapper">
    <select id="findAll" resultType="fly.frontend.entity.Post">
        select * from posts;
    </select>
    <select id="findById" parameterType="int" resultType="fly.frontend.entity.Post">
        select * from posts where id = #{id};
    </select>
    <insert id="create" parameterType="fly.frontend.entity.Post">
        insert into posts(title,content,status,created_at,update_at,publish_at) values (#{title},#{content},#{status},#{createdAt},#{updateAt},#{publishAt});
    </insert>
    <update id="update" parameterType="fly.frontend.entity.Post">
        update posts set title = #{title},content = #{content},update_at = #{updateAt},publish_at = #{publishAt} where  id = #{id};
    </update>
</mapper>