<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fly.frontend.dao.PostMapper">
    <resultMap id="post" type="fly.frontend.entity.model.Post">
        <id column="id" property="id"/>
        <result property="content" column="content"/>
        <result property="author.id" column="author_id"/>
        <result property="author.username" column="username"/>
        <result property="author.avatar" column="userAvatar"/>
        <result property="column.id" column="column_id"/>
        <result property="column.name" column="columnName"/>
    </resultMap>


    <update id="update" parameterType="fly.frontend.entity.model.Post">
        update posts set title = #{title},content = #{content},update_at = #{updateAt},publish_at = #{publishAt} where  id = #{id};
    </update>
</mapper>