:root {
    --tag-bg: #f1f4f9;
    --tag-color: #93989f
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: layui-icon;
    src: url(./font/iconfont.eot?v=220);
    src: url(./font/iconfont.eot?v=220#iefix) format('embedded-opentype'), url(./font/iconfont.svg?v=220#iconfont) format('svg'), url(./font/iconfont.woff?v=220) format('woff'), url(./font/iconfont.ttf?v=220) format('truetype')
}

html, body {
    background: #e5ecf5;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

a cite {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

pre {
    position: relative;
}

.post-box pre {
    white-space: pre !important;
}

pre .code-copy {
    display: block !important;
}

.container{
    margin-top: 5px;
}

.iconfont {
    font-family: "layui-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

.icon-shijian:before {
    content: "\e60a";
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

.link {
    color: #01AAED;
}


.breadcrumb {
    font-size: 13px;
    color: #93989f;
    font-weight: 500;
}

.black {
    color: black
}

.header {
    padding: 0 5px;
    text-align: center;
    background-color: white;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
}

.header .right {
    float: right;
    font-size: 14px;
    line-height: 45px;
    margin-right: 5px;
    vertical-align: baseline;
}

.nav-container {
    background: white;
    border: 1px solid #e5ecf5;
    border-left: none;
    border-right: none;
    padding: 8px;
    font-size: 13px;
}

.nav-container .nav {
    display: flex;
}

.nav-container .nav a.active{
    background: black;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}

.nav-container .nav ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nav-container .nav ul li {
    margin-right: 10px;
    line-height: 25px;
}

.list-avatar {
    width: 30px;
    height: 30px
}

.item {
    display: flex;
    /*align-items: center;*/
    padding: 10px;
    border-bottom: 1px solid #e5ecf5;
}


.item .avatar {
    font-size: 0;
}

.item .avatar img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.item .content {
    flex: 1;
    margin-left: 10px;
}

.item .title {
    font-size: 16px;
    line-height: 24px;
}

.item .title a {
    color: inherit;
    text-decoration: none;
}

.item .bottom {
    margin-top: 6px;
    color: #adb5bd;
    font-size: 12px;
    line-height: 18px;
}

.item .bottom .column {
    color: #93989f;
    display: inline-block;
    background: #f1f4f9;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    border-radius: 4px;
}

.item .bottom .author {
    margin: 0 7px;
}

.item .number {
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    color: var(--tag-color);
    padding: 0 10px;
    background: var(--tag-bg);
    border-radius: 12px;
    display: inline-block;
}

/* panel style */
.panel, .row {
    background: white;
    margin-top: 10px;
    font-size: 13px;
}

.panel .panel-head {
    font-weight: 700;
    line-height: 34px;
    padding: 0 10px;
    font-size: 13px;
    border-bottom: 1px solid #e5ecf5;
}

.panel .panel-content {
    padding: 10px;
}

.panel .panel-content > ul {
    min-height: 120px;
}

.panel .panel-footer {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-top: 1px solid #e5ecf5;
}


/* form */
.input-group {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.input-group .input-label {
    display: block;
    width: 75px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    padding-right: 8px;
}

.input-group .input-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border: 1px solid #e5ecf5;
    border-radius: 2px;
}

.input-group .input-block .input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 30px;
    line-height: 1.47058824;
    padding-left: 5px;
}

.btn-group {
    padding: 5px 15px;
}

.btn-group span.btn-left-text {
    display: inline-block;
    line-height: 2.3;
    font-size: 13px;
    padding-right: 12px;
    position: relative;
    top: -9px;
}


.panel-head h1.title {
    line-height: 1.5;
    font: inherit;
    font-size: 16px;
    vertical-align: baseline;
}

.view-content h3 {
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.view-content h1 {
    color: black;
    font-size: 18px;
    line-height: 1.5;
    padding: 9px 0;
    vertical-align: baseline;
    font-weight: 700;
}

.post-box {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    font-size: 13px;
}

.post-box h1 {
    font: 24px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    line-height: 36px;
}

.post-box .post-info {
    position: relative;
    margin: 10px 0 15px;
}

.post-box .post-about {
    position: relative;
    line-height: 20px;
    padding: 15px 15px 15px 75px;
    font-size: 13px;
    background-color: #f8f8f8;
    color: #999;
}

.post-box .post-about .avatar {
    position: absolute;
    left: 15px;
    top: 15px;
}

.post-box .post-about img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 2px;
}

.post-box .post-about .post-author {
    white-space: nowrap;
    overflow: hidden;
}


.post-box .post-content {
    padding: 0;
    margin: 20px 0 0;
}

.post-nums {
    position: absolute;
    right: 0;
    font-size: 16px;
    top: -6px;
}

.post-nums i {
    padding: 0 3px 0 15px;
    font-size: 22px;
    color: #999;
}

.comment-head {
    font-size: 12px;
    line-height: 18px;
}

.comment-head .username {
    font-weight: 600;
    color: #728297;
    line-height: 18px;
}

.comment {
    margin-top: 6px;
}

.comment-parent {
    color: #728297;
    background: #f1f4f9;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 1px solid #e5ecf5;
}

/*用户中心*/
.home-user-info {
    position: relative;
    padding: 30px 0 30px;
    text-align: center;
}

.home-user-info img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.user-posts li.user-post {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #E9E9E9;
    font-size: 0;
}

.user-posts li.user-post .title {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    padding-right: 15px;
    font-size: 14px;
}

.user-posts li.user-post i {
    font-size: 12px;
    color: #999;
    font-style: normal;
}

.user-posts li.user-post em {
    position: absolute;
    right: 0;
    top: 0;
}

.user-comments > li {
    margin-bottom: 20px;
    line-height: 24px;
}

.user-comments li p span {
    padding-right: 5px;
}

.user-comments li a {
    padding: 0 5px;
}

.user-comments li .content {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #F2F2F5;
    border-radius: 5px;
    word-wrap: break-word;
}
.messages .message{
    margin-bottom: 20px;
    line-height: 24px;
}
.messages .message-content{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #F2F2F5;
    border-radius: 5px;
}

/* 强制覆盖editor.md编辑器原样式 */
.CodeMirror-linenumber {
    min-width: 24px !important;
    padding: 0 !important;
    text-align: center !important;
    color: #999 !important;
}
.CodeMirror-gutters{
    height: 100% !important;
}
.editormd{border: none !important;}

.post-submit-btn{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}