:root {
    --tag-bg: #f1f4f9;
    --tag-color: #93989f
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background: #F2F2F2;
}

a {
    color: inherit;
    text-decoration: none;
}

.black {
    color: black
}

.header {
    padding: 0 5px;
    text-align: center;
    background-color: white;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
    border-bottom: 1px solid rgba(0, 0, 0, .22);
}

.list-avatar {
    width: 30px;
    height: 30px
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e5ecf5;
}

.item .avatar {
    font-size: 0;
}

.item .avatar img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.item .content {
    flex: 1;
    margin-left: 10px;
}

.item .title {
    font-size: 16px;
    line-height: 24px;
}

.item .title a {
    color: inherit;
    text-decoration: none;
}

.item .bottom {
    margin-top: 6px;
    color: #adb5bd;
    font-size: 12px;
    line-height: 18px;
}

.item .bottom .column {
    color: #93989f;
    display: inline-block;
    background: #f1f4f9;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    border-radius: 4px;
}

.item .bottom .author {
    margin: 0 7px;
}

.item .number {
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    color: var(--tag-color);
    padding: 0 10px;
    background: var(--tag-bg);
    border-radius: 12px;
    display: inline-block;
}